    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    nav{
      text-decoration: none;
    }

    body {
      font-family: 'Inter', sans-serif; /*police*/
      background: linear-gradient(20deg, #081a3b, #1f417d, #081a3b); /*fond en dégradé diagonal (135 degrés inclinaison*/
      color: #ffffff; /*couleur texte*/
      display: flex; /*afficher les uns sous les autres je crois*/
      min-height: 100vh;
    }
 
    /*Pour page d'accueil : tout sauf les onglets*/
    .partie_centree{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container {
      max-width: 1000px; /*largeur de la textbox pour le texte du centre*/
      padding: 40px; /*décalage de la textbox à droite je crois*/
      text-align: center; /*centrer*/
      flex: 1; /*Pour que le conteneur prenne tout l'espace du body, sinon y'a le bandeau bizarre en bas*/
    }

    h1 {
      font-size: 3rem; /*taille titre*/
      margin-top: 50px;
      margin-bottom: 25px; /*espace entre titre et mon nom*/
      font-weight: 500;/*type de gras du texte*/
    }

    /*liens*/
    a{
      align-items: center; /*centrer les liens*/
    }

    /*Mathilda Alhamadah + data scientist*/
    .tagline {
      font-family: 'Orbitron', sans-serif;
      font-size: 1.8rem; /*taille*/
      color: #ff8c42; /*couleur*/
      margin-bottom: 30px; /*espacement sous le texte*/
      letter-spacing: 2px; /*espacement entre les lettres*/
    }

    /*paragraphe description*/
    .description {
      font-size: 1.1rem; /*taille de la police*/
      color: #d1d9e6; /*couleur texte*/
      line-height: 1.6; /*espacement entre les lignes*/
      max-width: 700px; /*largeur de la textbox*/
      margin: 0 auto 40px; /*espace à laisser sous le texte*/
    }

    /*bouton projets*/
    .cta {
      display: inline-block;
      padding: 12px 28px; /*hauteur et largeur du bouton*/
      border-radius: 30px; /*arrondi des angles*/
      background: linear-gradient(90deg, #ff8c42, #ff5e00); /*dégradé couleur*/
      color: white; /*couleur texte*/
      text-decoration: none; /*pas de soulignement texte*/
      font-weight: 500; /*type de gras du texte*/
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .cta:hover { /*au survol du bouton*/
      transform: translateY(-2px); /*faire qu'il remonte un peu*/
      box-shadow: 0 8px 20px rgba(255, 140, 66, 0.3); /*ombre*/
    }

    /*Pied de page*/
    .footer {
      position: relative;
      width: 100%; /*largeur de la textbox, ici toute la page*/
      text-align: center;
      font-size: 0.9rem; /*taille de la police*/
      color: #8893a8;
      align-items: center;
      justify-content: center;
      background-color: #081a3b;
    }