h1{
    text-align: center;
    background-color: white; /*Couleur de fond pour le titre uniquement*/
    background-image: url("Images/ordinateur_et_graphiques.jpg"); /*Indiquer la position par rapport au fichier CSS et pas html ! Pour moi ça change rien pcq les 2 sont au même endroit*/
    padding: 150px; /*marge, pour que l'encart du titre soit plus gros*/
    background-size: cover; /*pour que l'image couvre toute la largeur de la page*/
    background-position: center; /*pour que la partie qui s'affiche de l'image soit au centre*/
    opacity: 0.8; /*titre et image un peu transparents*/

    box-shadow: 6px 6px 15px rgb(29, 49, 63); /*Pour ombre : décalage horizontal, vertical, adoucissement dégradé, couleur de l'ombre*/
}

h2{
    color: white; /*texte en blanc*/
    padding: 75px; /*que ça soit un peu gros*/
    background: linear-gradient(to right, #ff1e56, #f9c942, #1e90ff); /*dégradé de 3 couleurs qui va vers la droite*/
    border: 2px solid black; /*bordure*/
}

body {
  font-family: "Trispace", sans-serif; /*Appliquer la police chargée dans le html à tout le site*/
  font-size: larger;
  background-color: #ebf5fa; /*Couleur de fond pour toute la page*/
}

p{
    color: darkcyan; /* tout le texte du html qui est dans un paragraphe <p> sera en bleu. Le texte pas dans un <p> sera pas en bleu !*/
    font-size: larger;  /*choisir la taille de façon relative*/
}

.page_modelisation{
    background-color: beige; /*arrière-plan du texte beige*/
    border:2px solid beige; /*bordure 2 pixels ligne continue même couleur que mon background pour que ça fasse comme un bouton*/
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px ; /*arrondi des angles personnalisé pour forme de bouton originale */
    box-shadow: 2px 2px 10px rgb(29, 49, 63); /*ombre de l'encadré : décalage à droite, décalage en bas, largeur générale de l'ombre*/
    border-width: 5px 55px; /*hauteur de rectangle en em = nombre de fois taille du texte. possible aussi en pixels*/
}

.page_modelisation a{ /* "a" pour modifier directement les propriétés du lien hypertexte*/
    color: black; /*noir au lieu de bleu*/
    text-decoration: none; /*enlever soulignement*/
}

.page_projets_data{
    background-color: beige; 
    border:2px solid beige;
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px ;
    box-shadow: 2px 2px 10px rgb(29, 49, 63); 
    border-width: 5px 55px;
}

.page_projets_data a{
    color: black;
    text-decoration: none;
}

.liste_langages_prog{
    color: sandybrown;  /*colorer spécifiquement ma liste de langages de prog*/
}

.data_analyse{
    color: lightgreen; /*colorer ce mot spécifique*/
}

.python{
    color: lightgreen;
}

.taille_moyenne{
    font-size: 20px; /*choisir la taille de façon objective en pixels*/
}

.e_mail a { /*on met "a" pour cibler directement le lien, pcq sinon le fait que ça soit un lien (bleu et souligné) écrase les autres propriétés de mise en forme*/
    text-decoration: underline; /*j'ai souligné l'e-mail mais c'est déjà souligné avec le lien hypertexte*/
    color: black;
}

.contact{
    display: block; /*parce qu'on a sélectionné avec span, mais normalement on peut pas sélectionner toute une ligne comme ça alors il faut transformer la sélection en bloc pour pouvoir le mettre à droite*/
    text-align: right; /*mettre le texte à droite*/
}

